VIDEO

***master clip***

<clip> explodedTracks=true
  masterclipID
  duration
  ismasterclip (boolean)
  rate
    timebase, ntsc
  name
  media
    video
      track
        clipitem
          masterclipID
          rate - timebase, ntsc
          alphatype
          pixelaspectratio
          anamorphic
          file
            #ID: file-ID
            name
            pathurl
            rate - timebase, ntsc
            duration
            media
              video
              audio
  label > label2


***clip on a track in a sequence***

<clipitem id="clipitemID">
  masterclipID
  name
  enabled (boolean)
  duration
  rate - timebase, ntsc
  start
  end
  in
  out
  alphatype
  file [ID only]
  label > label2
