AUDIO

***master clip***

<clip> explodedTracks=true
  masterclipID
  ismasterclip (boolean)
  name
  duration
  rate
    timebase, ntsc
  in
  out
  media
    audio
      track
        clipitem #id
          masterclipid
          name
          rate
          file #id
            name
            pathurl
            rate
            media
              audio
                channelcount 1
                audiochannel
                  sourcechannel 1
              audio
                channelcount 1
                audiochannel
                  sourcechannel 2
              ...
  label > label2
  media



***audio clip on a track in a sequence***

audio
  track
    ONE CLIP ITEM PER CHANNEL
    <clipitem id="clipitemID" premiereChannelType=MONO>
      masterclipID
      name
      label > label2
      enabled (boolean)
      duration
      rate - timebase, ntsc
      start
      end
      in
      out
      file [ID only]
      sourcetrack
        > mediatype = audio
        > trackindex (# TRACK INDEX) HERE
